# Ignore node_modules to avoid unnecessary dependencies in the image
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Ignore environment variables and sensitive files
.env
.env.local
.env.production
.env.development
.env.test

# Ignore Docker-related files (to prevent recursive copies)
.dockerignore
Dockerfile

# Ignore build and log files
dist
build
logs
*.log

# Ignore IDE/editor config and cache
.vscode/
.idea/
*.swp
*.swo
*.swn

# Ignore Git-related files
.git/

index.html
